* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: rgb(245, 245, 245);
  background: url(/images/bodyBackground.jpg) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}

header h1 {
  text-align: center;
  font-size: 4rem;
  margin: 7rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 7rem;
}

.container {
  background-color: rgba(169, 169, 169, 0.429);
  border-radius: 0.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.6);
}

#todo-container {
  grid-row: 1 / span 2;
  text-align: start;
}

#taskInput {
  font-size: 2.25rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 90%;
}

#add-task-button {
  color: rgb(255, 55, 0);
  padding: 0.5rem;
  font-size: 2.25rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out 0s;
  border: none;
  margin-left: 0.5rem;
}

#add-task-button:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgb(255, 55, 0);
}

#pending-count {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
}

#pending-count h3 {
  font-size: 4rem;
  margin-top: 2rem;
}

#completed-count {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
}

#completed-count h3 {
  font-size: 4rem;
  margin-top: 2rem;
}

#task-list {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#task-list li {
  list-style: none;
  font-size: 2rem;
  font-weight: 600;
  color: hsl(0, 0%, 0%);
  margin-left: 1rem;
}

#task-list div {
  background-color: rgb(211, 211, 211);
  padding: 0.15rem;
  margin: 0.75rem;
  border-radius: 2rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#task-list i.fa-square-check {
  color: rgb(21, 193, 21);
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1rem;
}

#task-list i.fa-trash {
  color: rgb(255, 55, 0);
  font-size: 2rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

#task-list i.fa-flag {
  color: rgb(200, 147, 0);
  font-size: 2rem;
  cursor: pointer;
  margin-right: 0.5rem;
}
